* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  font-family: "Roboto";
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(130, 130, 130, 0.7764705882);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.site-header .site-header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.site-header .site-header-conteiner .header-logo {
  transition: all ease 1s;
}
.site-header .site-header-conteiner .header-logo:hover {
  transform: rotate(360deg);
}
.site-header .site-header-conteiner .sitenav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 100px;
}
.site-header .site-header-conteiner .sitenav-list .sitenav-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: 2px;
  transition: all ease 0.5s;
}
.site-header .site-header-conteiner .sitenav-list .sitenav-link:hover {
  text-decoration: underline;
  text-decoration-color: #46856E;
  cursor: pointer;
}
.site-header .site-header-conteiner .site-header-conteiner-content {
  display: flex;
  gap: 46px;
}
.site-header .site-header-conteiner .site-header-conteiner-content .site-header-conteiner-content-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: 2px;
  transition: all ease 0.5s;
}
.site-header .site-header-conteiner .site-header-conteiner-content .site-header-conteiner-content-link:hover {
  text-decoration: underline;
  text-decoration-color: #46856E;
}
.site-header .site-header-line {
  margin-top: 25px;
  display: flex;
  width: 100%;
  height: 2px;
  background: #E0E0E0;
}

.main-section-img {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section-text {
  margin-top: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 136px;
}
.main-section-text .main-section-text-title {
  color: #1A1A1A;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  width: 355px;
}
.main-section-text .main-section-text-text {
  color: #AAAAAA;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  width: 569px;
}

.main-section-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 210px;
}
.main-section-content1 .main-section-content-number-1 div {
  width: 588px;
  height: 412px;
  overflow: hidden;
}
.main-section-content1 .main-section-content-number-1 div img {
  transition: all ease 0.5s;
}
.main-section-content1 .main-section-content-number-1 img:hover {
  transform: scale(1.1);
}
.main-section-content1 .main-section-content-number-1 .main-section-content-number-1-title {
  color: #1A1A1A;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.main-section-content1 .main-section-content-number-3 div {
  width: 588px;
  height: 412px;
  overflow: hidden;
}
.main-section-content1 .main-section-content-number-3 div img {
  transition: all ease 0.5s;
}
.main-section-content1 .main-section-content-number-3 img:hover {
  transform: scale(1.1);
}
.main-section-content1 .main-section-content-number-3 .main-section-content-number-1-title {
  color: #1A1A1A;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.main-section-content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}
.main-section-content2 .main-section-content-number-2 div {
  width: 588px;
  height: 412px;
  overflow: hidden;
}
.main-section-content2 .main-section-content-number-2 div img {
  transition: all ease 0.5s;
}
.main-section-content2 .main-section-content-number-2 img:hover {
  transform: scale(1.1);
}
.main-section-content2 .main-section-content-number-2 .main-section-content-number-1-title {
  color: #1A1A1A;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.main-section-content2 .main-section-content-number-4 div {
  width: 588px;
  height: 412px;
  overflow: hidden;
}
.main-section-content2 .main-section-content-number-4 div img {
  transition: all ease 0.5s;
}
.main-section-content2 .main-section-content-number-4 img:hover {
  transform: scale(1.1);
}
.main-section-content2 .main-section-content-number-4 .main-section-content-number-1-title {
  color: #1A1A1A;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.main-section-brand-logo {
  width: 1144px;
  margin: 212px auto 0;
}
.main-section-brand-logo .main-section-brand-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1A1A1A;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}
.main-section-brand-logo .main-section-brand-logo-text {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4A4A4A;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.main-section-brand-logo .main-section-brand-logo-series1 {
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-section-brand-logo .main-section-brand-logo-series1 a {
  transition: all ease 0.5s;
}
.main-section-brand-logo .main-section-brand-logo-series1 a:hover {
  transform: scale(1.1);
}
.main-section-brand-logo .main-section-brand-logo-series2 {
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-section-brand-logo .main-section-brand-logo-series2 a {
  transition: all ease 0.5s;
}
.main-section-brand-logo .main-section-brand-logo-series2 a:hover {
  transform: scale(1.1);
}
.main-section-brand-logo .main-section-brand-logo-series3 {
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-section-brand-logo .main-section-brand-logo-series3 a {
  transition: all ease 0.5s;
}
.main-section-brand-logo .main-section-brand-logo-series3 a:hover {
  transform: scale(1.1);
}

.img-content1 {
  margin: 190px 0;
}
.img-content1 .img-content1-bagraund {
  width: 1344px;
  height: 736px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-image: url(../../img/main_section5-img.png);
  background-repeat: no-repeat;
}
.img-content1 img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 23px auto 0;
}

.main-section-content3 .main-section-content3-title-box {
  width: 1000px;
  margin: 0 auto;
}
.main-section-content3 .main-section-content3-title {
  color: #1A1A1A;
  font-size: 48px;
  font-weight: 400;
  line-height: 56.25px;
}
.main-section-content3 .main-section-content3-text {
  margin-top: 24px;
  color: #46856E;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.75px;
}
.main-section-content3 .main-section-content3-text:hover {
  text-decoration: underline;
  text-decoration-color: #46856E;
}
.main-section-content3 .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1090px;
  margin: 59px auto;
}
.main-section-content3 .flex .main-section-content3-box {
  width: 323px;
  padding: 20px;
  border-radius: 10px;
  transition: all ease 0.5s;
}
.main-section-content3 .flex .main-section-content3-box img {
  display: flex;
  margin: 0 auto;
}
.main-section-content3 .flex .main-section-content3-box h2 {
  margin-top: 26px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #1A1A1A;
  transition: all ease 1s;
}
.main-section-content3 .flex .main-section-content3-box p {
  margin-top: 18px;
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all ease 1s;
}
.main-section-content3 .flex .main-section-content3-box:hover {
  background: #373B44;
  background: linear-gradient(to right, #4286f4, #373B44);
  transform: scale(1.1);
}
.main-section-content3 .flex .main-section-content3-box:hover h2 {
  color: #fff;
}
.main-section-content3 .flex .main-section-content3-box:hover p {
  color: #fff;
}

.bagraund {
  background: #A5C1C2;
}
.bagraund .img-content2-bagraund {
  width: 1296px;
  height: 800px;
  margin: 240px auto 0;
  background-image: url(../../img/main_section7-bagraund.png);
  background-repeat: no-repeat;
  padding: 120px 773px 0 173px;
}
.bagraund .img-content2-bagraund .star {
  margin-top: 32px;
}
.bagraund .img-content2-bagraund p {
  margin-top: 7px;
  color: #FFFFFF;
  width: 228px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.bagraund .img-content2-bagraund .logo {
  margin-top: 8px;
}
.bagraund .img-content2-bagraund a {
  position: relative;
  z-index: 1;
  top: 32px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all ease 1s;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.75px;
}
.bagraund .img-content2-bagraund a:hover {
  text-decoration: underline;
}

.main-text {
  margin-top: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-text .main-text-1 {
  color: #AAAAAA;
  font-size: 46px;
  font-weight: 400;
  line-height: 52px;
}
.main-text .main-text-2 {
  color: #000000;
  font-size: 46px;
  font-weight: 400;
  line-height: 52px;
  margin-top: 24px;
}

.main-left-right-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 135px auto 0;
}
.main-left-right-section-1 .div2 {
  width: 671px;
  height: 672px;
  overflow: hidden;
}
.main-left-right-section-1 .div2 img {
  transition: all ease 0.5s;
}
.main-left-right-section-1 .div2 img:hover {
  transform: scale(1.1);
}
.main-left-right-section-1 div {
  margin: auto;
  width: 311px;
}
.main-left-right-section-1 div h2 {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}
.main-left-right-section-1 div p {
  margin-top: 27px;
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.section-11-img {
  display: flex;
  margin: 288px auto 0;
}

.main-section-service {
  width: 1200px;
  height: 465px;
  background: #F2F2F2;
  margin: 286px auto 0;
}
.main-section-service .main-section-service-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 63px;
  color: #000000;
  font-size: 46px;
  font-weight: 400;
  line-height: 50.6px;
}
.main-section-service .main-section-service-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 116px;
  margin-top: 65px;
}
.main-section-service .main-section-service-flex img {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.main-section-service .main-section-service-flex p {
  margin-top: 22px;
  color: #1A1A1A;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.75px;
}
.main-section-service .main-section-service-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto 0;
  width: 146px;
  height: 50px;
  border: 2px solid #46856E;
  background: #46856E;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.main-section-service .main-section-service-btn:hover {
  transform: scale(1.1);
  border: 2px solid #46856E;
  background: none;
  color: #000;
}
.main-section-service a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px auto 0;
  text-decoration: none;
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
}
.main-section-service a:hover {
  text-decoration: underline;
  text-decoration-color: #46856E;
}

.footer-section1 {
  width: 100%;
  background: #2B2B2B;
  padding: 97px 175px;
  margin: 80px auto 0;
  display: flex;
}
.footer-section1 .footer-logo {
  display: flex;
  width: 87px;
  height: 87px;
  transition: all ease 1s;
}
.footer-section1 .footer-logo:hover {
  transform: rotate(360deg);
}
.footer-section1 .footer-section1-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-left: 69px;
  margin: 0 auto;
}
.footer-section1 .footer-section1-about div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin-bottom: 17px;
}
.footer-section1 .footer-section1-about div ul {
  list-style-type: none;
  color: #FFFFFF;
}